@font-face {
  font-family: sevastopol;
  src: url('./assets/fonts/sevastopol.ttf');
}

* {
  font-family: 'sevastopol';
  font-size: 25px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 1px 1px #847a83;
  background-color: #131d15;
  ;
}